.meet-doctor-name, .patient-care-header {
  color: #263E76;
  font-size: 2.5rem;
  text-align: center;
  margin: 30px 0;
}

.about-doctor {
  article {
    margin-bottom: 50px;
  }
}

.meet-main {
  padding: 0 15%;
}

.headshot-div {
  float: left;
  width: 300px;
  margin-top: 9px;
}

.education {
  // float: none;
}

.about-p, .about-ul {
  line-height: 23px;
  margin-bottom: 15px;
}

.about-ul {
  margin-left: 44px;
}

.meet-header {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.preparation-img {
  float: right;
  // height: 100px;
}

.operation-img {
  float: left;
  margin-right: 25px;
}

.beyond {
  width: 700px;
}

.motorcycle {
  grid-area: motorcycle;
  justify-self: center;
}

.family {
  grid-area: family;
  justify-self: center;
}

.ultra {
  grid-area: ultra;
  justify-self: center;

}

.climbing {
  grid-area: climbing;
  justify-self: center;

}

.hobbies-section {
  display: grid;
  grid-template-areas: 
  'motorcycle motorcycle'
  'family family'
  'ultra climbing';
  grid-template-columns: 1fr 1fr;
  article {
    margin-bottom: 20px;
  }
  h6 {
    font-size: .9rem;
  }
}