@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
  font-family: 'Lato', sans-serif;
}

.header-section {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.nav {
  color: #263E76;
  text-decoration: none;
  transition: 300ms;
  border-bottom: 1px solid transparent;
  font-size: 1.1rem;
  &:hover {
    border-color: #263E76;
  }
}

.active {
  border-bottom: 1px solid #263E76;
}

.copyright {
  color: #263E76;
  text-align: center;
  margin: 20px 0;
}

@media screen and (min-width: 1440px) {
  .content-wrapper {
    width: 1440px;
  }
  .App {
    background-color: white;
    display: flex;
    justify-content: center;
  }
}