@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.home {
  font-family: 'PT Sans Narrow', sans-serif;
}

.office-img {
  background-image: url('assets/office.jpg');
  background-size: 135%;
  height: 620px;
  background-position: right bottom 10%;
  background-repeat: none;
  display: flex;
  justify-content: center;
}

.home-name-div {
  color: #263E76;
  margin-top: 20px;
}

.home-office-name {
  font-size: 4rem;
}

.home-doctor-name {
  font-size: 2.5rem;
  margin-top: 10px;
}