@import 'normalize-scss';
@import './components/Home/Home';
@import './components/App/App';
@import './components/MeetDoctor/MeetDoctor';
@import './components/Patients/Patients';
@import './components/Procedures/Procedures';
@import './components/Doctors/Doctors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}